*, *:before, *:after {
	box-sizing: border-box;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: middle;
    margin: 0 4px;
}
  
.limiter {
    width: 100%;
    margin: 0 auto;
}
  
.container-table100 {
    width: 100%;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.search-container {
    flex-basis: 100%;
    margin-bottom: 20px;
    max-width: 100%;
}

.table-search {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px;
}  
.wrap-table100 {
    flex-basis: 100%;
    max-width: 100%;
    overflow: hidden;
    border: 1px solid rgb(130, 177, 148);
}
  
.table {
    width: 100%;
    display: table;
    margin: 0;
}
  
@media screen and (max-width: 768px) {
    .table {
      display: block;
    }
}
  
.row {
    display: table-row;
    background: #fff;
}
  
.row.header {
    color: #ffffff;
    background: #098b35;
}
  
@media screen and (max-width: 768px) {
    .row {
      display: block;
    }
  
    .row.header {
      padding: 0;
      height: 0px;
    }
  
    .row.header .cell {
      display: none;
    }
  
    .row .cell:before {
      font-family: Poppins-Bold;
      font-size: 12px;
      color: #808080;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: unset !important;
  
      margin-bottom: 13px;
      content: attr(data-title);
      min-width: 98px;
      display: block;
    }
}
  
.cell {
    display: table-cell;
}
  
@media screen and (max-width: 768px) {
    .cell {
      display: block;
    }
}
  
.row .cell {
    font-family: "Poppins-Regular";
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;
  
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.row .cell:not(:last-child) {
    border-right: 1px dashed #cae0d5;
}
.row.header .cell {
    font-family: "Poppins-Regular";
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
  
    padding-top: 19px;
    padding-bottom: 19px;
}
  
.table, .row {
    width: 100% !important;
}
  
.row:hover {
    background-color: #f1f7f5;
    cursor: pointer;
}

.row.header:hover {
    background-color: #01721d;
    cursor: pointer;
}
  
@media (max-width: 768px) {
    .row {
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 18px;
      padding-top: 10px;
      padding-right: 15px;
      margin: 0;
    }
    
    .row .cell {
      border: none;
      padding-left: 30px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    
    .row .cell {
      font-family: "Poppins-Regular";
      font-size: 18px;
      color: #555555;
      line-height: 1.2;
      font-weight: unset !important;
    }

    .row .cell:not(:last-child) {
        border-right: none;
    }
  
    .table, .row, .cell {
      width: 100% !important;
    }
}

.pagination-container {
    flex: 0 1 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666666;
    font-family: "Poppins-Regular";
}

.pagination-container .show-all-container {
    margin-top: 10px;
}
.pagination-container .show-all-container input {
    margin-right: 8px;
}

.pagination-container select {
    font-size: 14px;
}
.pagination-container .pagination-control {
    background-color: #098b35;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: 0;
    padding: 20px;
    font-weight: 700;
    cursor: pointer;
}

.pagination-container .pagination-control:hover {
    background-color: #01721d;
}

.pagination-container .pagination-control:disabled {
    background-color: #e7e7e7;
    color: grey;
    cursor: not-allowed;
}